@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Example for AspNetCore.MailKitMailer Client</h1>

    <a asp-action="Welcome" asp-controller="Test">Test: Single Welcome Mail to John Doe</a>
    <br />

    <a asp-action="WelcomeMultipleTos" asp-controller="Test">Welcome Mails to John and Jonny</a>
    <br />


</div>
